<div class="modal-header">
    <h3>Welcome User Enter Your Details</h3>
</div>
<form name="form.editForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">

        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" name="firstname" ng-model="form.firstname" ng-required="true">
            <div ng-show="form.editForm.firstname.$dirty && form.editForm.firstname.$invalid">
                <small>Invalid First Name</small>
            </div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" ng-model="form.lastname" ng-required="true">
            <div ng-show="form.editForm.lastname.$dirty && form.editForm.lastname.$invalid">
                <small>Invalid Last Name</small>
            </div>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="pno" ng-model="form.pno" ng-pattern="/^[7-9][0-9]{9}$/" ng-required="true">
            <div ng-show="form.editForm.pno.$dirty && form.editForm.pno.$error.pattern">
                <small>Invalid Phone Number</small>
            </div>
        </div>

        <div class="form-group">
            <label>Email Id</label>
            <input type="email" class="form-control" name="emailid" ng-model="form.emailid" ng-required="true">
            <div ng-show="form.editForm.emailid.$dirty && form.editForm.emailid.$invalid">
                <small>Invalid Email Id</small>
            </div>
        </div>

        <div style="text-align: center">
            <button class="btn btn-success" type='submit' ng-disabled="form.editForm.$invalid">Apply</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
